.upload-block {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.upload-form-block {
    padding: 15px 0 20px 0;
}
.upload-form-block label {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 0 0 30px;
}
.upload-tab-left {
    padding-left: 30px;
}
input.input-file {
    cursor: pointer;
    display: inline-block;
    width: 300px;
}
.upload-file {
    border: none;
    border-radius: 3px;
    background: #aae785;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 6px;
    margin-left: 15px;
    width: 110px;
    text-align: center;
}
.upload-file:hover {
    opacity: 0.9;
}
.remove-file {
    color: dimgrey;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    padding: 2px;
    width: 30px;
    text-align: center;
    position: relative;
    top: -37px;
    left: 135px;
}
.txt-remark {
    font-size: 12px;
    margin-top: 5px;
}

@media (max-width: 991px) {
    .remove-file {
        left: 22px;
        top: -41px;
    }
    .upload-file {
        margin-left: 1px;
        margin-top: 6px;
    }
}